* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.areyou{
    display: flex;
    margin-left: 7%;
    justify-content: space-between;
    width: 86%;
    margin-top: 7%;
  }
  .areyou p{
    font-size: 35px;
    font-weight: 600;
    width: 40%;
    height: 10px;
  }
  .areyou button{
    width: 10%;
    height: 35px;
    background-color: #518581;
    color: white;
    border: none;
    margin-top: 2%;
  }