* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.contentus{
    margin-left: 7%;
    display: flex;
}
.Protofolic{
    width: 40%;
}
.Protofolic p {
    color: #FFB23F;
    font-size: 16px;
}
.Protofolic label{
    font-size: 35px;
    font-weight: 600;
}
.amzing{
    width: 55%;
    padding-left: 22%;
    padding-top: 2%;
}
.amzing label{
    color: #AFADB5;
    font-weight: 500;
}
.amzing p {
    padding-top: 6%;
    font-size: 18px;
    color: #518581;
}